<%= content_tag(:div, nil, :class => 'mdwiki_login') do %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <span class="mdwiki_logo">mdwiki</span>
  <%= content_tag(:div, '&nbsp;'.html_safe) %>

  <div class="devise_items">Email</div>
  <div class="devise_input"><%= f.email_field :email, autofocus: true, placeholder: 'Email' %></div>

  <div class="devise_items">Password</div>
  <div class="devise_input"><%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %></div>

  <%= content_tag(:div, '&nbsp;'.html_safe) %>
  <div>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="$('#new_user').submit();" class="mdwiki_menu_link">Login</a>
    </span>
  </div>
  <%= content_tag(:div, '&nbsp;'.html_safe) %>
  <div>
    <span class="mdwiki_menu_btn">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "mdwiki_menu_link" %>
    </span>
  </div>
<% end %>
<% end %>
