<%= content_tag(:ul, nil) do %>
  <% hash = summaries_list.shift %>
  <% id = hash[:id] %>
  <% summaries = hash[:summaries] %>
  <% summaries.each do |summary| %>
    <% key   = summary[:key].to_s %>
    <% title = summary[:title].to_s %>
    <% is_child = (summaries_list.length > 0 && summaries_list[0][:id] == key) %>
    <%= content_tag(:li) do %>
      <%= content_tag(:div) do %>
        <nobr>
          <% if summary[:child] %>
            <% if is_child %>
              <a href="#" onclick="return show_child('<%= key %>');"><div 
                  id="cur_<%= key %>" class="mdwiki_close_btn"></div></a>
            <% else %>
              <a href="#" onclick="return show_child('<%= key %>');"><div 
                  id="cur_<%= key %>" class="mdwiki_open_btn"></div></a>
             <% end %>
          <% else %>
            <div class="mdwiki_none"></div>
          <% end %>
          <%= link_to(title, '/mdwiki/' + key, {:class => 'content_list'}) %>
        </nobr>
        <% if is_child %>
          <%= content_tag(:div, nil, :id => ('div_' + key)) do %>
            <%= render(:partial => "list", :locals => {
              :summaries_list => summaries_list}) %>
          <% end %>
        <% else %>
          <%= content_tag(:div, nil, :id => ('div_' + key)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
