<%= content_tag(:ul, nil) do %>
  <% summary = summaries.shift %>
  <% summary.children.each do |child| %>
    <% id    = child.id.to_s %>
    <% title = child.title.to_s %>
    <% is_child = (summaries.length > 0 && summaries[0].id.to_s == id.to_s) %>
    <%= content_tag(:li) do %>
      <%= content_tag(:div) do %>
        <nobr>
          <% if child.children_exist? %>
            <% if is_child %>
              <a href="#" onclick="return show_child('<%= id %>', '<%= current_id %>');"><div 
                  id="cur_<%= id %>" class="mdwiki_close_btn"></div></a>
            <% else %>
              <a href="#" onclick="return show_child('<%= id %>', '<%= current_id %>');"><div 
                  id="cur_<%= id %>" class="mdwiki_open_btn"></div></a>
             <% end %>
          <% else %>
            <div class="mdwiki_none"></div>
          <% end %>
          <% if current_id == id %>
            <%= link_to(title, '/mdwiki/' + id, {:class => 'mdwiki_current_list'}) %>
          <% else %>
            <%= link_to(title, '/mdwiki/' + id) %>
          <% end %>
        </nobr>
        <% if is_child %>
          <%= content_tag(:div, nil, :id => ('div_' + id)) do %>
            <%= render(:partial => "list", :locals => {
              :summaries => summaries, :current_id => current_id}) %>
          <% end %>
        <% else %>
          <%= content_tag(:div, nil, :id => ('div_' + id)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
