<%= content_tag(:div, nil) do %>
  <%= render(:partial => "header", :object  => @header_params) %>
<% end %>

<%= content_tag(:div, nil, {:class => 'mdwiki_breadcrumb'}) do %>
  <%= render(:partial => 'breadcrumb', :locals => {
    :breadcrumb_list => @content.breadcrumb_list}) %>
<% end %>

<div class="mdwiki_list mdwiki_list_for_show">
  <%= content_tag(:div, nil, {:id => ('div_' + Content::ROOT_PARENT_ID)}) do %>
    <%= render(:partial => "list", :locals => {
      :summaries_list => @summaries_list, :current_id => @content.id}) %>
  <% end %>
</div>

<%= content_tag(:div, nil, {:class => 'mdwiki_show'}) do %>
  <%= render(:partial => "preview", :object => @content) %>
<% end %>
