<%= content_tag(:div, nil, :class => 'mdwiki_login') do %>
  <span class="mdwiki_logo">mdwiki</span>
  <%= content_tag(:div, text_field_tag('username')) %>
  <%= content_tag(:div, password_field_tag('password')) %>
  <%= content_tag(:div, '&nbsp;'.html_safe) %>
  <%= content_tag(:div, link_to('&nbsp;&nbsp;'.html_safe, nil, {
    :title => 'Login', 
    :class => 'mdwiki_btn mdwiki_login_btn', 
    :onclick => 'return login();'})) %>
<% end %>

<%= content_tag(:span, @alert, {
  :id => 'alert_message', 
  :class => 'alert_message'}) %>
