<div class="mdwiki_header">
  <a href="/mdwiki" class="mdwiki_logo_link">
    <span class="mdwiki_logo">mdwiki</span>
  </a>
</div>

<%= content_tag(:div, nil, {:class => 'mdwiki_menu'}) do %>
  <% if @header_params.preview? %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, nil, {
      :title => 'Preview', 
      :id => 'mdwiki_preview_btn',
      :onclick => 'return preview();', 
      :class => 'mdwiki_btn mdwiki_preview_btn'})) %>
  <% end %>
  <% if @header_params.save? %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, nil, {
      :title => 'Save', 
      :id => 'mdwiki_save_btn',
      :class => 'mdwiki_btn mdwiki_save_btn',
      :onclick => 'return ' + @header_params.save_cmd + '_page();'})) %>
  <% end %>
  <% if @header_params.cancel? %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, '/mdwiki/' + @header_params.id, {
      :title => 'Cancel', 
      :class => 'mdwiki_btn mdwiki_cancel_btn'})) %>
  <% end %>
  <% if @header_params.create? %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, '/mdwiki/' + @header_params.id + '/new', {
      :title => 'Create', 
      :id => 'mdwiki_create_btn',
      :class => 'mdwiki_btn mdwiki_create_btn'})) %>
  <% end %>
  <% if @header_params.edit? %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, '/mdwiki/' + @header_params.id + '/edit', {
      :title => 'Edit', 
      :id => 'mdwiki_edit_btn',
      :class => 'mdwiki_btn mdwiki_edit_btn'})) %>
  <% end %>
  <% if @header_params.remove? %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, nil, {
      :title => 'Remove', 
      :class => 'mdwiki_btn mdwiki_remove_btn', 
      :onclick => 'return remove_page(\'' + @header_params.id + '\');'})) %>
    <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, nil, {
      :title => 'Remove with children', 
      :class => 'mdwiki_btn mdwiki_remove_with_children_btn', 
      :onclick => 'return remove_page_with_children(\'' + @header_params.id + '\');'})) %>
  <% end %>
  <span class="mdwiki_checkbox">
    <%= check_box_tag('chk_title', nil, @header_params.chk_title?, {}) %>
    <label for="chk_title" title="Title"></label>
  </span>
  <span class="mdwiki_checkbox">
    <%= check_box_tag('chk_content', nil, @header_params.chk_content?, {}) %>
    <label for="chk_content" title="Content"></label>
  </span>
  <%= content_tag(:span, text_field_tag('search_key', @header_params.keyword)) %>
  <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, nil, {
    :title => 'Search', 
    :class => 'mdwiki_btn mdwiki_search_btn',
    :onclick => 'return search_pages();'})) %>
  <%= content_tag(:span, session[:user_id]) %>
  <%= content_tag(:span, link_to('&nbsp;&nbsp;'.html_safe, nil, {
    :title => 'Logout', 
    :class => 'mdwiki_btn mdwiki_logout_btn', 
    :onclick => 'return logout();'})) %>
<% end %>

<div id="mdwiki_modal">
  <div id="mdwiki_dlg_bg"></div>
  <div id="mdwiki_dlg">
    <div id="mdwiki_dlg_message">message...</div>
    <a id="mdwiki_dlg_accept_btn"
      class="mdwiki_btn mdwiki_dlg_accept_btn"
      title="OK">&nbsp;&nbsp;</a>
    <a id="mdwiki_dlg_cancel_btn" 
      class="mdwiki_btn mdwiki_dlg_cancel_btn" 
      title="Cancel">&nbsp;&nbsp;</a>
  </div>
</div>
