<div class="mdwiki_header">
  <div class="mdwiki_main_logo">
    <span class="mdwiki_logo">
      <a href="/mdwiki" class="mdwiki_logo_link">mdwiki</a>
    </span>
  </div>

  <%= content_tag(:div, nil, {:class => 'mdwiki_menu'}) do %>
    <% if @f_permit.preview? %>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="return preview();"
        class="mdwiki_menu_link" id="mdwiki_preview_btn">Preview</a>
    </span>
    <% end %>
    <% if @f_permit.save? %>
    <span class="mdwiki_menu_btn">
      <!-- <a href="#" onclick="return <%= @f_permit.save_cmd %>_page();" -->
      <a href="#" onclick="return save_content();"
        class="mdwiki_menu_link" id="mdwiki_save_btn">Save</a>
    </span>
    <% end %>
    <% if @f_permit.cancel? %>
    <span class="mdwiki_menu_btn">
      <a href='/mdwiki/<%= @f_permit.id %>'
        class="mdwiki_menu_link">Cancel</a>
    </span>
    <% end %>
    <% if @f_permit.create? %>
    <span class="mdwiki_menu_btn">
      <a href='/mdwiki/<%= @f_permit.id %>/new'
        class="mdwiki_menu_link" id='mdwiki_create_btn'>Create</a>
    </span>
    <% end %>
    <% if @f_permit.edit? %>
      <span class="mdwiki_menu_btn">
      <a href='/mdwiki/<%= @f_permit.id %>/edit'
        class="mdwiki_menu_link" id='mdwiki_edit_btn'>Edit</a>
    </span>
    <% end %>
    <% if @f_permit.remove? %>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="return remove_page('<%= @f_permit.id %>');"
        class="mdwiki_menu_link">Remove</a>
    </span>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="return remove_page_with_children('<%= @f_permit.id %>');"
        class="mdwiki_menu_link">Remove All</a>
    </span>
    <% end %>
    <span class="mdwiki_checkbox">
      <%= check_box_tag('chk_title', nil, @f_permit.chk_title?, {}) %>
      <label for="chk_title" title="Title"></label>
    </span>
    <span class="mdwiki_checkbox">
      <%= check_box_tag('chk_content', nil, @f_permit.chk_content?, {}) %>
      <label for="chk_content" title="Content"></label>
    </span>
    <%= content_tag(:span, text_field_tag('search_key', @f_permit.keyword)) %>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="return search_pages();" class="mdwiki_menu_link">Search</a>
    </span>
    <span class="mdwiki_menu_user"><%= session[:user_id] %></span>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="return logout();" class="mdwiki_menu_link">Logout</a>
    </span>
  <% end %>

  <div id="mdwiki_dlg_modal">
    <div id="mdwiki_dlg_bg"></div>
    <div id="mdwiki_dlg">
      <div id="mdwiki_dlg_message">message...</div>
      <div class="mdwiki_dlg_border"></div>
      <span class="mdwiki_menu_btn">
        <a href="#"
          class="mdwiki_menu_link mdwiki_dlg_accept_btn"
          id="mdwiki_dlg_accept_btn">Accept</a>
      </span>
      <span class="mdwiki_menu_btn">
        <a href="#"
          class="mdwiki_menu_link mdwiki_dlg_cancel_btn"
          id="mdwiki_dlg_cancel_btn">Cancel</a>
      </span>
    </div>
  </div>

  <div id="mdwiki_attach_modal">
    <div id="mdwiki_attach_bg"></div>
    <div id="mdwiki_attach">
      <img id="mdwiki_attach_img">
    </div>
  </div>
</div>
