<!DOCTYPE html>
<html>
<head>
  <title>Mdwiki</title>
  <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="env_<%= ENV['RAILS_ENV'] %>">

<%= yield %>

</body>
</html>
