<%= devise_error_messages! %>

<%= content_tag(:div, nil, :class => 'mdwiki_login') do %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="devise_items">Email</div>
  <div class="devise_input"><%= f.email_field :email, autofocus: true, placeholder: 'Email' %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="devise_items">Password</div>
  <div class="devise_input"><%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %></div>

  <div class="devise_items">Password confirmation</div>
  <div class="devise_input"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password confirmation' %></div>

  <div class="devise_items">Current password</div>
  <div class="devise_input"><%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current password' %></div>

  <div>&nbsp;</div>
  <div>
    <span class="mdwiki_menu_btn">
      <a href="#" onclick="$('#edit_user').submit();" class="mdwiki_menu_link">Password Update</a>
    </span>
  </div>
<% end %>
<% end %>
